<div class="cards mt-3">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cocktail.pic_url %>)">
        <p><%= cocktail.name %></p>
      </div>
    <% end %>
  <% end %>
</div>

